<h1>物件一覧</h1>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>

<% @rents.each do |rent| %>
  <tr>
    <td><%= rent.property_name %></td>
    <td><%= number_with_delimiter(rent.fee) %>円</td>
    <td><%= rent.address %></td>
    <td><%= rent.age %>年</td>
    <td><%= rent.note %></td>
    <td><%= link_to :詳細, rent_path(rent.id) %></td>
    <td><%= link_to :編集, edit_rent_path(rent.id) %></td>
    <td><%= link_to :削除, rent_path(rent.id), method: :delete %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to :物件を登録する, new_rent_path %>
